<% include ../navbar %>
<title>Notice</title>
<div class="container">
  <div class="row" style="padding-top: 5%">
    <div class="col-sm-4">
      <div class="card text-center mb-4 shadow">
        <div class="card-body">
          <a href="/dashboard/upload/notice/photo" role="button"
            ><img
              class="img-fluid img-thumbnail"
              src="/images/image.png"
              alt="button"
          /></a>
          <p></p>
          <h5 class="card-title">Upload a Photo</h5>
          <p class="card-text">Select Document Photo</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card text-center mb-4 shadow">
        <div class="card-body">
          <a href="/dashboard/upload/notice/pdf" role="button"
            ><img
              class="img-fluid img-thumbnail"
              src="/images/pdf.png"
              alt="button"
          /></a>
          <p></p>
          <h5 class="card-title">Upload a PDF</h5>
          <p class="card-text">Select Document PDF</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card text-center mb-4 shadow">
        <div class="card-body">
          <a href="/dashboard/upload/notice/post" role="button"
            ><img
              class="img-fluid img-thumbnail"
              src="/images/post.png"
              alt="button"
          /></a>
          <p></p>
          <h5 class="card-title">Write a Document</h5>
          <p class="card-text">Create a post</p>
        </div>
      </div>
    </div>
  </div>
</div>
<% include ../footer %>
