<% include navbar %>
<title>Upload</title>
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-sm-5">
      <div class="card text-center mb-4 shadow">
        <div class="card-body">
          <a href="/dashboard/upload/notice" role="button"
            ><img
              class="img-fluid img-thumbnail"
              src="/images/notice.png"
              alt="button"
          /></a>
          <p></p>
          <h5 class="card-title">Upload New Notice</h5>
          <p class="card-text">Select Photo, PDF or Post</p>
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="card text-center mb-4 shadow">
        <div class="card-body">
          <a href="/dashboard/upload/document" role="button"
            ><img
              class="img-fluid img-thumbnail"
              src="/images/document.png"
              alt="button"
          /></a>
          <p></p>
          <h5 class="card-title">Upload New Document</h5>
          <p class="card-text">Select Photo, PDF or Post</p>
        </div>
      </div>
    </div>
  </div>
</div>
<% include footer %>
