/* Container needed to position the overlay. Adjust the width as needed */
/* .container {
    position: relative;
    width: 50%;
  } */
  
  /* Make the image to responsive */
  /* .image {
    width: 100%;
    height: auto;
  } */
  .center {
    display: block;
    margin-left: auto;
    margin-top: auto;
    margin-right: auto;
    width: 50%;
  }
  .responsive {
    width: 100%;
    max-width: 900px;
    height: auto;
  }